In [1]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
import pandas as pd

In [5]:
fake = pd.read_csv("Fake.csv")
original=pd.read_csv("True.csv")

In [6]:
display(fake.info())
display(original.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [7]:
display(fake.head())
display(original.head())

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [8]:
display(fake.subject.value_counts())
print("\n")
display(original.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [9]:
display(fake.head(20))

                                                title  ...               date
0    Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1    Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2    Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3    Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4    Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
5    Racist Alabama Cops Brutalize Black Boy While...  ...  December 25, 2017
6    Fresh Off The Golf Course, Trump Lashes Out A...  ...  December 23, 2017
7    Trump Said Some INSANELY Racist Stuff Inside ...  ...  December 23, 2017
8    Former CIA Director Slams Trump Over UN Bully...  ...  December 22, 2017
9    WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...  December 21, 2017
10   Papa John’s Founder Retires, Figures Out Raci...  ...  December 21, 2017
11   WATCH: Paul Ryan Just Told Us He Doesn’t Care...  ...  December 21, 2017
12   Bad News For Trump — Mitch McConnell Says No ...  ...  December 21, 2017
13   WATCH: Lindsey Graham Trashes Media For Portr...  ...  December 20, 2017
14   Heiress To Disney Empire Knows GOP Scammed Us...  ...  December 20, 2017
15   Tone Deaf Trump: Congrats Rep. Scalise On Los...  ...  December 20, 2017
16   The Internet Brutally Mocks Disney’s New Trum...  ...  December 19, 2017
17   Mueller Spokesman Just F-cked Up Donald Trump...  ...  December 17, 2017
18   SNL Hilariously Mocks Accused Child Molester ...  ...  December 17, 2017
19   Republican Senator Gets Dragged For Going Aft...  ...  December 16, 2017

[20 rows x 4 columns]

In [10]:
fake['target']=0
original['target']=1

In [11]:
display(original.head())

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1

[5 rows x 5 columns]

In [12]:
data=pd.concat([fake,original])
display(data.head(100000))

                                                   title  ... target
0       Donald Trump Sends Out Embarrassing New Year’...  ...      0
1       Drunk Bragging Trump Staffer Started Russian ...  ...      0
2       Sheriff David Clarke Becomes An Internet Joke...  ...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4       Pope Francis Just Called Out Donald Trump Dur...  ...      0
...                                                  ...  ...    ...
21412  'Fully committed' NATO backs new U.S. approach...  ...      1
21413  LexisNexis withdrew two products from Chinese ...  ...      1
21414  Minsk cultural hub becomes haven from authorities  ...      1
21415  Vatican upbeat on possibility of Pope Francis ...  ...      1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...      1

[44898 rows x 5 columns]

In [13]:
print(data)

                                                   title  ... target
0       Donald Trump Sends Out Embarrassing New Year’...  ...      0
1       Drunk Bragging Trump Staffer Started Russian ...  ...      0
2       Sheriff David Clarke Becomes An Internet Joke...  ...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4       Pope Francis Just Called Out Donald Trump Dur...  ...      0
...                                                  ...  ...    ...
21412  'Fully committed' NATO backs new U.S. approach...  ...      1
21413  LexisNexis withdrew two products from Chinese ...  ...      1
21414  Minsk cultural hub becomes haven from authorities  ...      1
21415  Vatican upbeat on possibility of Pope Francis ...  ...      1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...      1

[44898 rows x 5 columns]

In [14]:
data=data.reset_index(drop=True)
print(data)

                                                   title  ... target
0       Donald Trump Sends Out Embarrassing New Year’...  ...      0
1       Drunk Bragging Trump Staffer Started Russian ...  ...      0
2       Sheriff David Clarke Becomes An Internet Joke...  ...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4       Pope Francis Just Called Out Donald Trump Dur...  ...      0
...                                                  ...  ...    ...
44893  'Fully committed' NATO backs new U.S. approach...  ...      1
44894  LexisNexis withdrew two products from Chinese ...  ...      1
44895  Minsk cultural hub becomes haven from authorities  ...      1
44896  Vatican upbeat on possibility of Pope Francis ...  ...      1
44897  Indonesia to buy $1.14 billion worth of Russia...  ...      1

[44898 rows x 5 columns]

In [15]:
data=data.drop(["subject","date","title"],axis=1)
print(data)

                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [17]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [18]:
from nltk.stem.snowball import SnowballStemmer
snow_stemmer=SnowballStemmer(language="english")

In [19]:
def stem_it(text):
  return [snow_stemmer.stem(w) for w in text]

In [20]:
data['text']=data['text'].apply(stem_it)

In [21]:
def stop_it(t):
  return [word for word in t if len(word)>2]

In [22]:
data['text']=data['text'].apply(stop_it)

In [23]:
data["text"]=data["text"].apply(" ".join)

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data["text"],data["target"],test_size=0.25)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.fit_transform(X_test)

In [26]:
print(tfidf_train)

  (1, 8265)	0.027667613806823803
  (1, 74066)	0.0293042336260981
  (1, 12002)	0.051435191863078523
  (1, 88985)	0.020617064789917296
  (1, 77955)	0.03424081398539513
  (1, 88955)	0.022158163482358276
  (1, 29172)	0.07995063507810443
  (1, 1507)	0.04019174196711339
  (1, 7544)	0.054395375427693377
  (1, 82961)	0.06443731802098965
  (1, 38255)	0.04588939445618481
  (1, 74101)	0.027730329584907603
  (1, 54638)	0.024658391328025338
  (1, 21427)	0.029262924316781257
  (1, 67236)	0.0703771962985033
  (1, 62852)	0.029886952987483728
  (1, 31477)	0.02615089192150591
  (1, 55672)	0.022282396334905575
  (1, 89433)	0.055932309533532135
  (1, 64303)	0.023642368381382468
  (1, 11828)	0.027994622135839246
  (1, 17254)	0.01355432145893869
  (1, 24298)	0.02069380773233769
  (1, 28026)	0.033020218208119505
  (1, 40231)	0.03468301072165452
  :	:
  (33672, 19755)	0.07703629239034868
  (33672, 7565)	0.11951664267511423
  (33672, 32765)	0.049352115618665725
  (33672, 19197)	0.04877835450643776
  (33672, 42465)	0.051645603668798445
  (33672, 64689)	0.05405966499030498
  (33672, 81251)	0.0705129936617557
  (33672, 25479)	0.08285657140490421
  (33672, 69412)	0.07079929800843014
  (33672, 58066)	0.040354033436186175
  (33672, 8265)	0.052857315616581045
  (33672, 63263)	0.06307994550845476
  (33672, 7681)	0.057786358683241924
  (33672, 68088)	0.06589389256252014
  (33672, 20253)	0.052258599839278996
  (33672, 59334)	0.02367108562866745
  (33672, 88978)	0.06053132816904148
  (33672, 77865)	0.02941271552672852
  (33672, 33450)	0.04788354259655637
  (33672, 55778)	0.060555478661215335
  (33672, 1)	0.05042823236684321
  (33672, 35887)	0.03755775045078647
  (33672, 38003)	0.04734366324970547
  (33672, 37870)	0.023722635930361047
  (33672, 69810)	0.029557387974140332

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [28]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1=model_1.predict(tfidf_train)
cr1=accuracy_score(y_train,pred_1)
print(cr1*100)

99.29023253051406

In [29]:
from sklearn.linear_model import PassiveAggressiveClassifier

model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [31]:
y_pred=model.predict(tfidf_train)
accscore=accuracy_score(y_train,y_pred)
print("The accuracy of prediction is ",accscore*100)

The accuracy of prediction is  99.99703026163395